In [35]:
n = int(input('enter the row : '))
if n %2 ==0 :
    n = n+1
for row in range(1,n+1) :
    if row == 1 :
        print("*",end='')
        print(" "*(n//2-1),end='')
        print("*"*(n//2+1))
    elif row <= n//2 :
        print("*",end='')
        print(" "*(n//2-1),end='')
        print('*')
    elif row == n//2+1 :
        print("*"*(n))
    elif row <=n-1 :
        print(" "*(n//2),end='')
        print("*",end='')
        print(" "*(n//2-1),end='')
        print("*")
    else :
        print("*"*(n//2+1),end='')
        print(' '*(n//2-1),end='')
        print('*')

enter the row : 11
*    ******
*    *
*    *
*    *
*    *
***********
     *    *
     *    *
     *    *
     *    *
******    *

In [41]:
n=int(input('enter row :'))
for col in range(1,n)  :
    print(" "*(n-col),end='')
    print('*'*(col))

enter row :11
          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [42]:
n=int(input('enter row : '))
for row in range(1,n) :
    print("*"*row)

enter row : 11
*
**
***
****
*****
******
*******
********
*********
**********

In [44]:
n=int(input('enter row : '))
for row in range(n,0,-1) :
    print("*"*row)

enter row : 11
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [45]:
n=int(input('enter row :'))
for col in range(n,0,-1)  :
    print(" "*(n-col),end='')
    print('*'*(col))

enter row :11
***********
 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

In [57]:
n=int(input('enter row :'))
for col in range(1,n+1)  :
    print(" "*(n-col),end='')
    print('*'*(col-1),end='')
    print('*'*col)

enter row :11
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
*********************

In [69]:
n=int(input('enter row :'))
for col in range(1,n)  :
    print(" "*(n-col),end='')
    print('*'*(col-1),end='')
    print('*'*col)
for col in range(n,0,-1)  :
    print(" "*(n-col),end='')
    print('*'*(col-1),end='')
    print('*'*col)

enter row :11
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
*********************
 *******************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

In [43]:
n=int(input('enter row :'))
for col in range(1,n-1)  :
    print("*"*(n-col),end='')
    print(' '*(col-1),end='')
    print(' '*(col-1),end='')
    print("*"*(n-col))
for col in range(n-1,0,-1)  :
    print("*"*(n-col),end='')
    print(' '*(col-1),end=)
    print(' '*(col-1))
    print("*"*(n-col),end='')

enter row :11
********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*
**
***
****
*****
******
*******
********
*********
**********